{{- define "main" }}

<!-- TODO pass the values from md document -->
<main id="resume-main">
  <div class="resume-header">
    <div class="resume-header__left-info">
      <p>Jakarta, Indonesia</p>
      <p>
        <a href="https://github.com/joundy">github.com/joundy</a>
      </p>
    </div>
    <div class="resume-header__title">
      <h3>Hafiz Joundy Syafie</h3>
    </div>
    <div class="resume-header__right-info">
      <p>contact@joundy.me</p>
      <p>
        <a href="https://joundy.me">joundy.me</a>
      </p>
    </div>
  </div>
  <div class="resume-education resume-section">
    <div class="resume-divider">
      <p>Education</p>
      <div class="resume-line"></div>
    </div>
    <div class="resume-items">
      <div class="resume-divider-title">
        <p class="resume-divider-title__description">Banyumas</p>
        <p class="resume-divider-title__main">Telkom Vocational High School</p>
        <p class="resume-divider-title__date">Jul 2015-Jul 2018</p>
      </div>
      <ul>
        <li><span class="resume-bold">Major: </span>Software Engineering</li>
        <li><span class="resume-bold">Degree: </span>Diploma</li>
      </ul>
    </div>
  </div>
  <div class="resume-employment resume-section">
    <div class="resume-divider">
      <p>Employment</p>
      <div class="resume-line"></div>
    </div>
    <div class="resume-items">
      <div class="resume-divider-title">
        <p class="resume-divider-title__description">Senior Backend Engineer</p>
        <p class="resume-divider-title__main">Paras (Startup)</p>
        <p class="resume-divider-title__date">Jan 2022-Present</p>
      </div>
      <p>
        (<a href="https://paras.id">paras.id</a>) The largest NFT Marketplace in
        Near Protocol
      </p>
      <ul>
        <li>
          Migrated the legacy infrastructure to Kubernetes (GKE), containerized
          all services using docker, set up the cluster, autoscale, and had to
          set up the IAM & K8s RABAC for all engineers.
        </li>
        <li>
          Created a script to deploy the service into GKE, this script
          automatically created a version by the last commit, push to the
          artifacts repository, and deployed the image into GKE, this is used by
          all the engineers and improves productivity.
        </li>
        <li>
          Optimized the docker build process, using multistage docker to reduce
          the image size up to 90% smaller.
        </li>
        <li>
          Created monitoring dashboard using grafana, manually set up
          Prometheus, and Loki as the time-series DB, implemented the log
          exporter into critical servers and services, created the query for
          alerting, and automatically send the report to telegram.
        </li>
        <li>
          Optimized the MongoDB query, profiling to search the slowest query,
          and created an index for querying documents.
        </li>
        <li>
          Improved the indexer server to handle the massive logs, parsed the
          logs from block transactions, created a simple queue, and push the
          data into the message broker.
        </li>
        <li>
          Improved the indexer worker to handle more than 1000 data/sec, and
          created a queue mechanism using Redis to group the data by id and
          processed them into the small/sub queue.
        </li>
        <li>
          Created a feature to auto whitelist the smart-contract in the near
          protocol, and automatically indexed the transaction logs if the
          smart-contract had implemented the NFT standard.
        </li>
        <li>
          Created a feature dynamic transaction fee for the smart-contract, the
          owner can update the fee dynamically.
        </li>
        <li>
          Created a feature NFT trade for the smart-contract, the user can trade
          his own NFT with another user, implemented the refund mechanism to
          ensure all of the approval ids are successfully approved.
        </li>
        <li>
          Created a feature locked staking for the smart-contract, the user can
          lock their balance in a period of time to have a chance to get
          rewards.
        </li>
        <li>
          Implemented minting calendar from the external project, created worker
          mechanism to synchronize the data from their API.
        </li>
        <li>
          Helped external contract owners to integrate their contracts with the
          NFT marketplace.
        </li>
      </ul>
      <p>
        <span class="resume-bold">Leverage Knowledge: </span>Rust, Javascript,
        MongoDB, Prometheus, Loki, Docker, Kubernetes, GCP
      </p>
    </div>
    <div class="resume-items">
      <div class="resume-divider-title">
        <p class="resume-divider-title__description">Backend Engineer</p>
        <p class="resume-divider-title__main">Ruangguru (Startup)</p>
        <p class="resume-divider-title__date">Jan 2020-Oct 2021</p>
      </div>
      <p>
        (<a href="https://www.ruangguru.com/">ruangguru.com</a>) Education tech
        company
      </p>
      <ul>
        <li>
          Refactored the legacy ‘user’ service to the new codebase standard, the
          result is the codebase had more maintainability, stability, and ease
          to compose with another service.
        </li>
        <li>
          Created a new authorization library, changed the communication
          protocol from HTTP to GRPC.
        </li>
        <li>
          Successfully migrated more than 50 services to use the new
          authorization library. Had to communicate with the service’s owners
          across the teams until the service was deployed.
        </li>
        <li>
          Created a user impersonation feature, this is used to debug the
          application using the user’s data to reproduce the bug.
        </li>
        <li>
          Perform performance tests on the ‘user’ service, and successfully test
          the authorization service to handle 100k RPS during the TVC session.
        </li>
        <li>
          Created rewarding service to handle all the rewards in the apps, this
          included created documentation, public design challenge (PDC), and
          implementations.
        </li>
        <li>
          Created a real-time leaderboard feature, and also created the fallback
          mechanism when the cache service is down, successfully handling the
          leaderboard in real-time with thousands of users.
        </li>
        <li>
          Created a service aggregator to aggregate the video API to provide a
          proper data structure for the CMS dashboard.
        </li>
      </ul>
      <p>
        <span class="resume-bold">Leverage Knowledge: </span>Golang, MySQL,
        Redis, Elasticsearch, Docker, Kubernetes, GCP
      </p>
    </div>
    <div class="resume-items">
      <div class="resume-divider-title">
        <p class="resume-divider-title__description">Backend Engineer</p>
        <p class="resume-divider-title__main">Telkom Indonesia (Codex)</p>
        <p class="resume-divider-title__date">Sept 2018-Dec 2019</p>
      </div>
      <p>
        (<a href="https://www.telkom.co.id/">telkom.co.id</a>)
        Telecommunications network company
      </p>
      <ul>
        <li>Designed the database schema for HR management apps.</li>
        <li>
          Created a live coding feature, and integrate it with the third-party
          API to compile the test answers from the users.
        </li>
        <li>
          Refactor the legacy codebase to modern codebase by using clean
          architecture.
        </li>
        <li>
          Become a pioneer to use Graphql as the main protocol to provide better
          communication between the backend and frontend side.
        </li>
        <li>
          Optimized the query call to the database, and implemented a caching
          mechanism to improve the API response time.
        </li>
      </ul>
      <p>
        <span class="resume-bold">Leverage Knowledge: </span>NodeJS, GraphQL,
        MongoDB, Docker, OpenShift
      </p>
    </div>
  </div>
  <div class="resume-skills resume-section">
    <div class="resume-divider">
      <p>Skills</p>
      <div class="resume-line"></div>
    </div>
    <p>
      <span class="resume-bold">Proficient</span>: Golang, Rust, Javascript,
      MongoDB, MySQL, Redis, Kubernetes, Docker, GIT, REST API, GRPC, GraphQL
    </p>
    <p>
      <span class="resume-bold">Farmiliar</span>: ReactJS, Python, PHP,
      Elasticsearch, RabbitMQ, GCP, Prometheus, Loki, OpenShift, Linux Commands,
      SOAP API, VIM, Blockchain Technologies
    </p>
  </div>
</main>

<div id="resume-download">
  <button onclick="printResume()">Print or Save</button>
</div>

<script>
  function printResume() {
    const printContents = document.getElementsByClassName("main")[0].innerHTML;
    const originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    // adjust the html before printing
    document.getElementById("resume-download").remove();
    document.getElementById("resume-main").style.width = "100% !important";
    document.getElementById("resume-main").style.color = "black";

    let elems

    elems = document.getElementsByTagName("h3");
    for (let i = 0; i < elems.length; i++) {
      elems[i].style.color = 'black';
    }
    elems = document.getElementsByTagName("a");
    for (let i = 0; i < elems.length; i++) {
      elems[i].style.color = 'black';
    }
    elems = document.getElementsByTagName("span");
    for (let i = 0; i < elems.length; i++) {
      elems[i].style.color = 'black';
    }

    window.print();

    // restore the default html
    document.body.innerHTML = originalContents;
  }
</script>

{{- end }}{{/* end main */}}
